<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449349001897-joaovsp13oul3hulk4sdjkatenkeaqvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449349001897-joaovsp13oul3hulk4sdjkatenkeaqvt</string>
	<key>API_KEY</key>
	<string>AIzaSyDzMDcATnJPz7UV2VQB8aENhqEVpcuilc0</string>
	<key>GCM_SENDER_ID</key>
	<string>449349001897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.basemelkady.mapKitPractice</string>
	<key>PROJECT_ID</key>
	<string>mapkitandfirebasetest</string>
	<key>STORAGE_BUCKET</key>
	<string>mapkitandfirebasetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449349001897:ios:affb2aa8bc9a3cab3fbfb8</string>
</dict>
</plist>